---
import Layout from '../layouts/Layout.astro';
import BrandHeader from '../components/BrandHeader.astro';
import Hero from '../components/Hero.astro';
import ControllerVisualizer from '../components/ControllerVisualizer.astro';
import PremiumFeatures from '../components/PremiumFeatures.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <BrandHeader />
  <main>
    <Hero />
    <ControllerVisualizer />
    <PremiumFeatures />
    <Contact />
  </main>
  <Footer />
</Layout>
