---
import Layout from '../layouts/Layout.astro';
import BrandHeader from '../components/BrandHeader.astro';
import Hero from '../components/Hero.astro';
import ProductFlow from '../components/ProductFlow.astro';
import Features from '../components/Features.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <BrandHeader />
  <main>
    <Hero />
    <ProductFlow />
    <Features />
    <Contact />
  </main>
  <Footer />
</Layout>
